.tint::after{
    content: "";
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background:black;
    opacity: .5;
}
/* .lt-center{
    padding: 10%,0 !important;
} */
.card-body p{
    text-align: justify;
}